a {
    color: #ffffff;
    text-decoration: none;
    
}

.learn {
    margin: -5% 0% 0% 1%;
    padding: 1.2% 3%;
    font-size: 20px;
    color: white;
    border-radius: 0%;
    background-color: #1C3A5B;
    
}

.learn:hover {
    background-color: #2f5074;
    color: white;
}

.infos {
    border: 4px solid black;
    width : 50%;
    padding: 1% 0%;
    box-shadow: 0px 3px 10px ;
}
.faq {
    width: 80%;
    font-weight: 300;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-container {
    
    padding-top: 2%;
    width: 80%;
    margin: 0 auto 50px auto;
    background: #fff;
    border-radius: 8px;
    
  }
  
  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 0.5%;
  }
  
  .faq-question {
    width: 100%;
    padding: 15px;
    text-align: left;
    background: #1C3A5B;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
  }
  
  .faq-answer {
    display: none;
    padding: 15px;
    background: #f9f9f9;
  }
  
  .faq-answer p {
    margin: 0;
  }



  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* Modal styling */
.modal-content {
  border-radius: 10px;
  overflow: hidden; /* Ensures the header stays within rounded corners */
}

.modal-header {
  background-color: #1C3A5B;
  color: white;
  text-align:left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px 20px;
  position: relative; /* Keeps the close button aligned properly */
}

/* Adjust the modal title to align properly */
.modal-header h5 {
  margin-left: 10px; /* Push title away from icon */
  font-weight: bold;
  flex-grow: 1; /* Ensures it takes up remaining space */
}

/* Center align icon and title */
.modal-header svg {
  margin-right: 10px;
}

/* Ensure modal body does not affect header */
.modal-body {
  padding: 20px;
  max-height: 60vh;
  overflow-y: auto; /* Makes it scrollable if content is too long */
}

.modal-body button:hover {
  filter: brightness(1.2); /* Makes it 20% lighter */
  transition: 0.1s ease-in-out; /* Smooth transition */
}

/* Fix footer alignment */
.modal-footer {
  border-top: none;
  justify-content: space-between;
}

/* Fix checkbox alignment */
.form-check {
  display: flex;
  align-items: center;
}

/* Style for disabled button */
#submitBtn:disabled {
  background-color: #94c8ff;
  cursor: not-allowed;
}

/* For index */
.aspect-ratio-container {
  width: 100%; /* Make it responsive */
  aspect-ratio: 16 / 9; /* Ensures a fixed 16:4 ratio */
  overflow: hidden;
}

.aspect-ratio-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image scales properly */
}

